{{> header}}

<h1>Welcome to the About Page</h1>
<h3>{{pageTitle}}</h3>
<p>{{yellIt pageTitle}}</p>
<div>
	<a href="/">Homepage</a>
</div>

<div>
	<img src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?dpr=2&auto=compress,format&fit=crop&w=1199&h=796&q=80&cs=tinysrgb&crop=" alt="" width="1176" height="781">
</div>



{{> footer}}
