{{> header}}

<div class="jumbotron">
	<div class="container">
		<h1>Hello, there!</h1>
		<p>This is a sample gallery, check out all the beautiful photos.</p>
	</div>
</div>


<div class="row" style="display:flex; flex-wrap: wrap;">
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="https://images.unsplash.com/photo-1464746133101-a2c3f88e0dd9?dpr=2&auto=compress,format&fit=crop&w=1199&h=825&q=80&cs=tinysrgb&crop=" alt="">
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="https://images.unsplash.com/photo-1485766410122-1b403edb53db?dpr=2&auto=compress,format&fit=crop&w=1199&h=676&q=80&cs=tinysrgb&crop=" alt="">
	    </a>
	  </div>

	   <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="https://images.unsplash.com/photo-1485872325464-50f17b82075a?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
	    </a>
	  </div>


	  
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?dpr=2&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop="  alt="">
	    </a>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="https://images.unsplash.com/photo-1484176257074-895a78e1917e?dpr=2&auto=compress,format&fit=crop&w=1199&h=641&q=80&cs=tinysrgb&crop=" alt="">
	    </a>
	  </div>

	   <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img src="https://images.unsplash.com/photo-1482285852444-5786d9152112?dpr=2&auto=compress,format&fit=crop&w=1199&h=674&q=80&cs=tinysrgb&crop=" alt="">
	    </a>
	  </div>

</div>





{{> footer}}


{{!-- 
    	<img src="https://images.unsplash.com/photo-1485766410122-1b403edb53db?dpr=2&auto=compress,format&fit=crop&w=1199&h=676&q=80&cs=tinysrgb&crop=" alt="">
	      <img src="https://images.unsplash.com/photo-1485872325464-50f17b82075a?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
	      <img src="https://images.unsplash.com/photo-1485887560292-4f040dd8b887?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=" alt="">
	      <img src="https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?dpr=2&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=" alt="">
	      <img src="https://images.unsplash.com/photo-1484176257074-895a78e1917e?dpr=2&auto=compress,format&fit=crop&w=1199&h=641&q=80&cs=tinysrgb&crop=" alt="">
	      <img src="https://images.unsplash.com/photo-1482285852444-5786d9152112?dpr=2&auto=compress,format&fit=crop&w=1199&h=674&q=80&cs=tinysrgb&crop=" alt=""> --}}