{{> header}}

<h1>Welcome!</h1>
<h3>{{pageTitle}}</h3>
<div>
	<a href="/about">About Page</a>
</div>

<p>{{yellIt pageTitle}}</p>
<div>
	<img src="https://images.unsplash.com/photo-1484248970913-02d5ad63477f?dpr=2&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=" alt="" width="1176" height="781">	
</div>

{{> footer}}




